<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pfield">
      <h2 data-cy="pfieldDetailsHeading"><span>Pfield</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pfield.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ pfield.name }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ pfield.type }}</span>
        </dd>
        <dt><span>Value</span></dt>
        <dd>
          <span>{{ pfield.value }}</span>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
          <div *ngIf="pfield.product">
            <a [routerLink]="['/product', pfield.product.id, 'view']">{{ pfield.product.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/pfield', pfield.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
