<section class="recomand-product-area" *ngFor="let product of allproducts">

<div class="container">


    <div class="box-container">

        <div class="box">
            <img src="{{product.photo}}" class="img-responsive img-thumbnail" alt="">  
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <p>{{product.zone}}</p>
            <p>{{product.createdat}}</p>
            <p>{{product.updatedat}}</p>
        </div>

        <div class="box">
            <img src="image/icon-2.png" alt="">
            <h3>CSS 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="image/icon-2.png" alt="">
            <h3>CSS 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="#" class="btn">read more</a>
        </div>
        

    </div>

</div>

</section>