<div class="account-area mt-70 mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
              <form [formGroup]="productForm" >
                <div class="header">Product</div>
                <div>
                  <input class="input form-control" formControlName="name" type="text" placeholder="Enter product name..."/>
                  <div *ngIf="canShowError('name')">
                    <div class="error" *ngIf="hasError('name', 'required')">
                      product Name is required.
                    </div>
                  </div>
                </div>

                <div>
                  <input class="input form-control" formControlName="description" type="text" placeholder="Enter product description..."/>
                  <div *ngIf="canShowError('description')">
                    <div class="error" *ngIf="hasError('description', 'required')">
                      product description is required.
                    </div>
                  </div>
                </div>

                <div>
                  <input class="input form-control" formControlName="zone" type="text" placeholder="Enter product zone..."/>
                  <div *ngIf="canShowError('zone')">
                    <div class="error" *ngIf="hasError('zone', 'required')">
                      product zone is required.
                    </div>
                  </div>
                </div>





                <div>
                  <select  formControlName="category" placeholder="select" (change)="fillFields($event)">
                    <option [ngValue]=""></option>
                    <option *ngFor="let catalog of categories" [ngValue]="catalog">{{catalog.name}}</option>
                  </select>
                </div>

              
                <ng-container formArrayName="pfields">
                  <ng-container *ngFor="let pfieldForm of pfields.controls; let i = index">
                      <div [formGroupName]="i">
                        <input id="value" type="text" formControlName="name" [readonly]="true"/> <br>
                          <input id="value" type="text" formControlName="value" />                
                      </div>
                  </ng-container>
              </ng-container>





               <!--JN Adding upload images-->

               
              <app-upload-images></app-upload-images>

                <!--div class="form-group"-->
                  <button class="button tp-in-btn w-100"  type="button" (click)="submit()" >Save</button>
                <!--/div-->
              </form>
            </div>
          </div>
        </div>
      </div>
  
