<p>edit works!</p>
<div class="container">
    <legend>Edit Item</legend>
    <form>
      <div class="mb-3">
        <label for="txtID" class="form-label">ID</label>
        <input type="text" name="id" [(ngModel)] = "fieldForm.id" class="form-control" id="txtName" disabled="true"/>
      </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" name="name" [(ngModel)] = "fieldForm.name" class="form-control" id="txtPrice" />
      </div>
      <div class="mb-3">
        <label for="txtType" class="form-label">Type</label>
        <input type="text" name="type" [(ngModel)] = "fieldForm.type" class="form-control" id="txtQuantity" />
      </div>
      <button type="button" (click)="update()" class="btn btn-primary">Update</button>
    </form>
</div>