<main>
<!-- features__area-start -->
        <section class="features__area pt-20">
            <div class="container">
                <div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 gx-0">
                    <div class="col">
                        <div class="features__item d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fal fa-truck"></i>
                            </div>
                            <div class="features__content">
                                <h6>FREE DELIVERY</h6>
                                <p>For all orders over $120</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features__item d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fal fa-money-check"></i>
                            </div>
                            <div class="features__content">
                                <h6>SAFE PAYMENT</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features__item d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fal fa-comments-alt"></i>
                            </div>
                            <div class="features__content">
                                <h6>24/7 HELP CENTER</h6>
                                <p>Delicated 24/7 support</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features__item features__item-last d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fad fa-user-headset"></i>
                            </div>
                            <div class="features__content">
                                <h6>FRIENDLY SERVICES</h6>
                                <p>30 day satisfaction guarantee</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- features__area-end -->


        <!-- banner__area-start -->




<!-- recomand-product-area-start -->
<section class="recomand-product-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-10">
                    <div class="section__title">
                        <h5 class="st-titile">Top catégories</h5>
                    </div>
                    <div class="button-wrap">
                        <a href="shop.html">See All catégories <i class="fal fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
<!-- recomand-product-area-end -->











        <section class="banner__area pt-20 pb-10">
            
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="banner__item p-relative w-img mb-30">
                            <div class="banner__img">
                                <a href="product-details.html"><img src="assets/img/banner/vetements.jpg" alt=""></a>
                            </div>
                            <div class="banner__content">
                             
                                <h6><b>Vétements</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="banner__item p-relative mb-30 w-img">
                            <div class="banner__img">
                                <a href="product-details.html"><img src="assets/img/banner/banner-2.jpg" alt=""></a>
                            </div>
                            <div class="banner__content">
                                <h6><a href="product-details.html">On-sale <br> Best Prices</a></h6>
                                <p>Limited Time: Online Only!</p>
                            </div>
                        </div>
                    </div>




                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="banner__item p-relative mb-30 w-img">
                            <div class="banner__img">
                                <a href="product-details.html"><img src="assets/img/banner/banner-3.jpg" alt=""></a>
                            </div>
                            <div class="banner__content">
                                <h6><a href="product-details.html">Hot Sale <br> Super Laptops 2022 </a></h6>
                                <p>Free Shipping All Order</p>
                            </div>
                        </div>
                    </div>
               
               
               
               
               
                </div>
            </div>
        </section>
        <!-- banner__area-end -->


    </main>