<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading">Create or edit a Product</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idcategory">Idcategory</label>
          <input
            type="text"
            class="form-control"
            name="idcategory"
            id="field_idcategory"
            data-cy="idcategory"
            formControlName="idcategory"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_iduser">Iduser</label>
          <input type="text" class="form-control" name="iduser" id="field_iduser" data-cy="iduser" formControlName="iduser" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_photo">Photo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('photo')!.value"
              alt="product image"
            />
            <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_photo" data-cy="photo" (change)="setFileData($event, 'photo', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_zone">Zone</label>
          <input type="text" class="form-control" name="zone" id="field_zone" data-cy="zone" formControlName="zone" />
        </div>
        
        
          <div class="row mb-3">
          <label class="form-label" for="field_price">price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>
        
          <div class="row mb-3">
          <label class="form-label" for="field_discount">discount</label>
          <input type="number" class="form-control" name="discount" id="field_discount" data-cy="price" formControlName="discount" />
        </div>
        
          <div class="row mb-3">
          <label class="form-label" for="field_afterdiscount">afterdiscount</label>
          <input type="number" class="form-control" name="afterdiscount" id="field_afterdiscount" data-cy="afterdiscount" formControlName="afterdiscount" />
        </div>
        
        

        <div class="row mb-3">
          <label class="form-label" for="field_createdat">Createdat</label>
          <div class="input-group">
            <input
              id="field_createdat"
              data-cy="createdat"
              type="text"
              class="form-control"
              name="createdat"
              ngbDatepicker
              #createdatDp="ngbDatepicker"
              formControlName="createdat"
            />
            <button type="button" class="btn btn-secondary" (click)="createdatDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_updatedat">Updatedat</label>
          <div class="input-group">
            <input
              id="field_updatedat"
              data-cy="updatedat"
              type="text"
              class="form-control"
              name="updatedat"
              ngbDatepicker
              #updatedatDp="ngbDatepicker"
              formControlName="updatedat"
            />
            <button type="button" class="btn btn-secondary" (click)="updatedatDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
