<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="file">
      <h2 data-cy="fileDetailsHeading"><span>File</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ file.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ file.name }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ file.type }}</span>
        </dd>
        <dt><span>Folder</span></dt>
        <dd>
          <div *ngIf="file.folder">
            <a [routerLink]="['/folder', file.folder.id, 'view']">{{ file.folder.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/file', file.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
