<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="research">
      <h2 data-cy="researchDetailsHeading"><span>Research</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ research.id }}</span>
        </dd>
        <dt><span>Iduser</span></dt>
        <dd>
          <span>{{ research.iduser }}</span>
        </dd>
        <dt><span>Idcategory</span></dt>
        <dd>
          <span>{{ research.idcategory }}</span>
        </dd>
        <dt><span>Idzone</span></dt>
        <dd>
          <span>{{ research.idzone }}</span>
        </dd>
        <dt><span>Createdat</span></dt>
        <dd>
          <span>{{ research.createdat | formatMediumDate }}</span>
        </dd>
        <dt><span>Updatedat</span></dt>
        <dd>
          <span>{{ research.updatedat | formatMediumDate }}</span>
        </dd>
        <dt><span>Zone</span></dt>
        <dd>
          <span>{{ research.zone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/research', research.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
