<div class="col-lg-6">
  <div class="basic-login mb-50">
      <h5>Login</h5>
      <form *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate>
          <label for="name">Username or email address  <span>*</span></label>
          <input type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel">
          <div
            class="alert alert-danger"
            role="alert"
          *ngIf="username.errors && f.submitted"
                         >
                   Username is required!
          </div>
          
          <label for="pass">Password <span>*</span></label>
          <input type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel">
          <div
            class="alert alert-danger"
            role="alert"
                 *ngIf="password.errors && f.submitted"
                          >
                 <div *ngIf="password.errors['required']">Password is required</div>
                <div *ngIf="password.errors['minlength']">
                Password must be at least 6 characters
                 </div>
          <div class="login-action mb-10 fix">
              <span class="log-rem f-left">
                 <input id="remember" type="checkbox">
                 <label for="remember">Remember me</label>
              </span>
              <span class="forgot-login f-right">
                 <a href="#">Lost your password?</a>
              </span>
          </div>
          <a href="" class="tp-in-btn w-100">log in</a>
      </form>
  </div>
</div>