<div class="account-area mt-70 mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
              <form [formGroup]="productForm" >
                <div class="header">Product</div>

                <div class="mb-3">
                    <label for="txtId" class="form-label">ID</label>
                    <input type="text" name="id"   formControlName="id"  class="form-control" id="txtId" />
                  </div>

                  <div class="mb-3">
                    <label for="txtName" class="form-label">Name</label>
                    <input type="text" name="name" formControlName="name" class="form-control" id="txtName" />
                  </div>
                
                  
                  <div class="mb-3">
                    <label for="txtCategory" class="form-label">Category</label>
                    <input type="text" name="idcategory" formControlName="idcategory" class="form-control" id="txtCategory" />
                  </div>

                  <div class="mb-3">
                    <label for="txtDescription" class="form-label">Description</label>
                    <input type="text" name="description"  formControlName="description" class="form-control" id="txtDescription" />
                  </div>


                  <div class="mb-3">
                    <label for="txtZone" class="form-label">Zone</label>
                    <input type="text" name="zone"  formControlName="zone" class="form-control" id="txtZone" />
                  </div>






              
                <ng-container formArrayName="pfields">
                  <ng-container *ngFor="let pfieldForm of pfields.controls; let i = index">
                      <div [formGroupName]="i">
                        <input id="name" type="text" formControlName="name" [readonly]="true"/> <br>
                          <input id="value" type="text" formControlName="value" />                
                      </div>
                  </ng-container>
              </ng-container>




               <!--JN Adding upload images-->

               
              <app-upload-images (imageInfosChanged)="doSomethingWithCount($event)" [index]="id"></app-upload-images>

                <!--div class="form-group"-->
                  <button class="button tp-in-btn w-100"  type="button" (click)="update()" >Save</button>
                <!--/div-->
              </form>
            </div>
          </div>
        </div>
      </div>
  
